body
{
	min-width: 630px;
 background: rgb(96, 96, 96);
 font-family: 'SAOUI-Regular.otf', 'SAOUITT-Regular.ttf', serif;
 color: rgb(0, 150, 250);
}

#container
{
	padding-left: 200px;
	padding-right: 190px;
}
		
#container .column
{
	position: relative;
	float: left;
}

#center
{
	padding: 10px 20px;
	width: 100%;
}

#left
{
	width: 180px;
	padding: 0 10px;
	right: 240px;
	margin-left: -100%;
}

#right
{
	width: 130px;
	padding: 0 10px;
	margin-right: -100%;
}

#footer
{
	clear: both;
}

/*** Just for Looks ***/

body
{
	margin: 0;
	padding: 0;
}

#left #right
{
 background: rgb(255, 255, 255);
 opacity: 0.5;
}

#container .column
{
	padding-top: 1em;
	text-align: justify;
}

p
{
 opacity: 1.0;
}

a
{
 text-decoration: none;
}

a:hover
{
 color: rgb(255, 140, 0);
}
