body
{
	min-width: 630px;
 background-image: url("images/sword_art_online___aincrad_fresco_by_cruzerblade1029-d5a8e8z.jpg");
 color: rgb(0, 150, 250);
 font-family: 'SAOUI-Regular.otf', 'SAOUITT-Regular.ttf', serif;
}

#container
{
	padding-left: 200px;
	padding-right: 190px;
}
		
#container .column
{
	position: relative;
	float: left;
}

#center
{
	padding: 10px 20px;
	width: 100%;
}

#left
{
	width: 180px;
	padding: 0 10px;
	right: 240px;
	margin-left: -100%;
}

#right
{
	width: 130px;
	padding: 0 10px;
	margin-right: -100%;
}

#footer
{
	clear: both;
}

/*** Just for Looks ***/

body
{
	margin: 0;
	padding: 0;
 /* Testing  */
/* background-color: blue; */
}

#left, #right
{
 /* Testing  */
/* background-color: green; */
}

#header, #footer
{
	font-size: large;
	text-align: center;
	padding: 0.3em 0;
 /* Testing  */
/* background-color: red; */
}

#container .column
{
	padding-top: 1em;
	text-align: justify;
}

